<div class="navTabs">
    <nav>
        <span>
            <ul class="nav {{include.navClass}}">
            <li><a href="/" class="{% if page.url == '/' %}menu{% endif %}">Home</a></li>
            <li><a href="https://35.157.12.75/openstack" class="menu" rel="noopener noreferrer" target="_blank">Openstack</a></li>
            <li><a href="https://35.157.12.75/gitlab" class="menu" rel="noopener noreferrer" target="_blank">GitLab</a></li>
            <li><a href="{{site.documentations}}" class="menu">Documentations</a></li>
            <!-- <li><a href="{{site.windows-loc}}"
                   class="{% if page.url contains 'windows' %}menu{% endif %}">Windows</a></li>
            <li><a href="{{site.unix-linux-loc}}" class="{% if page.url contains 'unix' %}menu{% endif %}">Unix/Linux</a></li>
            <li><a href="{{site.others-loc}}" class="{% if page.url contains 'others' %}menu{% endif %}">Others</a></li> -->
            <li><a href="/about" class="{% if page.url contains 'about' %}menu{% endif %}">About</a></li>
        </ul>
        </span>

    </nav>
</div>
