<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}} - {{site.title}}</title>
    <link href="/assets/css/welcome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="$$hosted_libs_prefix$$/$$version$$/material.deep_purple-pink.min.css">
    <link rel="shortcut icon" href="/resource/img/logo.png">
</head>
<body>

<div class="upper">
    {% include header.html navClass='nav-top' %}

    <div class="content">
            {{content}}

    </div>
</div>

{% include footer.html navClass='nav-bottom' %}

</body>
</html>