---
layout: default
---

<h1>
    <!-- <a href="{% if page.url contains site.windows-loc %}{{site.windows-loc}}{% endif %}
    {% if page.url contains site.unix-linux-loc %}{{site.unix-linux-loc}}{% endif %}
    {% if page.url contains site.others-loc %}{{site.others-loc}}{% endif %}">
    {{page.type}}</a> -->
    <a href="{% if page.url contains site.windows-loc %}{{site.windows-loc}}{% endif %}
    {% if page.url contains site.documentations %}{{site.documentations}}{% endif %}
    {% if page.url contains site.unix-linux-loc %}{{site.unix-linux-loc}}{% endif %}
    {% if page.url contains site.others-loc %}{{site.others-loc}}{% endif %}">
    {{page.type}}</a>
</h1>
<div class="mainContent pages">
    <h2>
        {{ page.title }}
    </h2>
</div>

<div class="pageContent">
{{content}}
</div>